// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$distance-logger-mapbox-primary: mat.define-palette(mat.$indigo-palette);
$distance-logger-mapbox-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$distance-logger-mapbox-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$distance-logger-mapbox-theme: mat.define-light-theme((color: (primary: $distance-logger-mapbox-primary,
        accent: $distance-logger-mapbox-accent,
        warn: $distance-logger-mapbox-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($distance-logger-mapbox-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  transition: all 200ms ease;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

#second-navbar {
  will-change: width;
  transition: 0.2s ease;
}

.mat-tab-group {
  margin-bottom: 48px;
}

/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: rgba(245, 245, 245, 0.548);
  font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: white;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}



button.btn.btn-success.btn-simple.text-white.circled {
  border-radius: 40px;
}

@keyframes come-up {
  from {
    opacity: 0;
    transform: scale(0) translateY(-55px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

@keyframes up-n-down {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);

  }

  75% {
    transform: translateY(5px);

  }

  100% {
    transform: translateY(0px);
  }
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;


  .popup-custom-content .mapboxgl-popup-content {

    // background: rgba(76, 228, 119, 0.0) !important;
    // box-shadow: 2px 4px 2px rgba(0, 0, 0, 0) !important;

    // position: relative;
    // border-radius: 3px;
    // padding: 10px 10px 15px;
    // pointer-events: auto;
  }
}

.mapboxgl-popup-close-button {
  position: absolute;
  right: 56px;
  top: 50px;
  border: 0;
  transform: translateY(50%) translateX(50%);
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent;
}


.mapboxgl-popup-content {
  width: 135px;
  position: relative;
  background: #ffffff00;
  border-radius: 3px;
  height: 162px;
  transform: translatey(82px) translateX(-5px);
  padding: 0;
  pointer-events: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;

  // >div :nth-child(n) {
  // }

  >div>div {
    display: flex;
  }

  .nav {
    width: 0;
    height: 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: left;
    position: relative;
    margin-right: 20px;
  }

  .nav:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .nav:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 100%;
    transition: all 0.5s;
    transition-delay: 0.5s;
  }

  .nav.active:after {
    top: 0;
  }

  .radial-nav {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    -webkit-transform-origin: center center;
  }

  .radial-nav .menu {
    border: none !important;
    position: relative;
    width: 0;
    height: 0;
    z-index: 100;
    transition: all 0.5s;
    display: table-cell;
    vertical-align: middle;
  }

  .radial-nav .menu:active {
    -webkit-transform: rotate(-15deg);
  }

  .radial-nav li:not(.menu) {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 70px;
    // border: 1px solid transparent;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.5s;
    z-index: 1;
  }

  .radial-nav li:not(.menu).selected {
    -webkit-transform: rotate(0deg) translateX(120px) rotate(0deg);
  }

  .radial-nav li:not(.menu).selected button {
    opacity: 1;
  }

  .radial-nav li:not(.menu):before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .radial-nav li:not(.menu) button {
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    -webkit-transition: all 0.5s;
  }

  .radial-nav.expanded li:not(.menu) {
    border: 0px solid #5151f1;
  }

  .radial-nav.expanded li:not(.menu):hover {
    background-color: #5151f100;
  }

  .radial-nav.expanded li:nth-child(1) {
    -webkit-transform: translateY(-120px);
  }

  .radial-nav.expanded li:nth-child(2) {
    -webkit-transform: rotate(-45deg) translateX(120px) rotate(45deg);
  }

  .radial-nav.expanded li:nth-child(3) {
    -webkit-transform: translateX(120px);
  }

  .radial-nav.expanded li:nth-child(4) {
    -webkit-transform: rotate(45deg) translateX(120px) rotate(-45deg);
  }

  .radial-nav.expanded li:nth-child(5) {
    -webkit-transform: translateY(120px);
  }

  .radial-nav.expanded li:nth-child(6) {
    -webkit-transform: rotate(135deg) translateX(120px) rotate(-135deg);
  }

  .radial-nav.expanded li:nth-child(7) {
    -webkit-transform: rotate(180deg) translateX(120px) rotate(-180deg);
  }

  .radial-nav.expanded li:nth-child(8) {
    -webkit-transform: rotate(225deg) translateX(120px) rotate(-225deg);
  }


  .radial-nav.expanded li:nth-child(1) .tooltip .tooltiptext {
    -webkit-transform: translateX(-80px)  translateY(-50px);
  }

  .radial-nav.expanded li:nth-child(2) .tooltip .tooltiptext {
    -webkit-transform: rotate(-45deg) translateX(40px)  translateY(-10px) rotate(45deg);
  }

  .radial-nav.expanded li:nth-child(3) .tooltip .tooltiptext {
    -webkit-transform: translateX(120px);
  }

  .radial-nav.expanded li:nth-child(4) .tooltip .tooltiptext {
    -webkit-transform: rotate(45deg)  translateX(59px) translateY(27px) rotate(-45deg);
  }

  .radial-nav.expanded li:nth-child(5) .tooltip .tooltiptext {
    -webkit-transform: translateY(120px);
  }

  .radial-nav.expanded li:nth-child(6) .tooltip .tooltiptext {
    -webkit-transform: rotate(135deg)  translateX(175px) translateY(86px) rotate(-135deg);
  }

  .radial-nav.expanded li:nth-child(7) .tooltip .tooltiptext {
    -webkit-transform: rotate(180deg) translateX(120px) rotate(-180deg);
  }

  .radial-nav.expanded li:nth-child(8) .tooltip .tooltiptext {
    -webkit-transform: rotate(225deg)  translateX(154px)  translateY(-102px) rotate(-225deg);
  }

  .radial-nav.expanded li button {
    opacity: 1;
  }

  .radial-nav.expanded .icon-menu {
    border-color: #5151f100;
    -webkit-transform: rotate(90deg);
  }

  .radial-nav.expanded .icon-menu:before {
    border-color: #5151f100;
  }

  .radial-nav.expanded .menu:active {
    -webkit-transform: rotate(15deg) !important;
  }
}

$c: #2196F3;
$h: #FF4081;

%bg {
  color: #FFF;
  background: $c;
  border-color: $c;
}

%b {
  color: $c;
  border-color: $c;
  background: #0000008a;
}

%t {
  color: $c;
  border-color: transparent;
  background: #0000008e;
}

%p {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  padding-top: 0;
  transition: 0.25s ease;
}

%pc {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

%c {
  position: relative;
  overflow: visible;
}

%s {
  box-shadow:
    0 5px 5px -5px rgba($c, 0.15),
    0 10px 10px -5px rgba($c, 0.15),
    0 15px 15px -5px rgba($c, 0.15),
    0 20px 20px -5px rgba($c, 0.15);
}



/* Tooltip text */
.tooltip .tooltiptext {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  transition: opacity 0.3s ease-in-out 0.2s;
  opacity: 0;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
}

.btn {
  min-width: min-content;
  margin-top: 2px !important;
  margin-bottom: 0.5vh !important;
  margin-left: 36px !important;
  margin-right: 1px !important;
  width: 2cm;
  color: black;
  background: azure;
  height: 65px;
  flex: auto;
  border-radius: 45px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.43);
  cursor: pointer;
  text-transform: capitalize;
  max-width: 110px;

  &.swipe-overlay {
    @extend %b;
    @extend %c;
    transition: color 0.3s ease 0.2s;
    transition: background 0.3s ease 0.2s;

    &::after {
      @extend %p;
      transform: rotate(25deg);
      top: -100%;
      left: -190%;
    }

    &:hover {
      color: #000000;

      &:after {
        left: -30%;
      }
    }
  }
}


.btn:hover {

  background-color: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #000;
  transform: translateY(-3px);
  outline: none;

}
