<mat-sidenav-container>
  <mat-sidenav
    #sidenav2
    mode="over"
    position="end"
    role="navigation"
    class="mat-elevation-z8"
    [class.big-nav] = "getIsHelpWanted && isBigScreen"
  >
      <button
      mat-button
      (click)="getNavSticky ? null : sidenav2.toggle()"
      class="close-sidenav2-2"
    >        <mat-icon> close </mat-icon>
    </button>

    <mat-checkbox *ngIf="!getIsBigScreen" class="close-sidenav2"
      [checked]="getNavSticky"
      [color]="color"
      (change)="setNavSticky($event.checked)">
      <!--  *ngIf="sidenavOver" -->
      <!-- [indeterminate]="someComplete()" -->
      <!-- {{task.name}} -->
      <!-- Sticky Navigation -->
    <mat-icon *ngIf="getNavSticky">lock</mat-icon>
    <mat-icon *ngIf="!getNavSticky">lock_open</mat-icon>
    </mat-checkbox>

    <span [ngSwitch]="getIsHelpWanted">
    <app-sidenav-help *ngSwitchCase="true" @fadeSlideInOut>
      AAPPUUUVA!
    </app-sidenav-help>
    <app-sidenav-directions *ngSwitchCase="false" @fadeSlideInOut>
      Ajosuunnitelma
    </app-sidenav-directions>
    </span>

    <div>
      <mat-icon>arrow_down</mat-icon>
    </div>
  </mat-sidenav>

<!-- TÄHÄN LOPPUU ITSE SIDENAVI OHJEILLE JA NAVIGAATIOLLE -->

  <mat-sidenav-content class="drawer-contents">

  <mat-toolbar class="mat-elevation-z8">
      <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
      >

        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>
      Eeppinen ajopäiväkirja -äppi
    </mat-toolbar>

    <mat-sidenav-container>
      <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <button class="close-sidenav"
          mat-icon-button
          (click)="sidenav.toggle()"
        ><mat-icon>close</mat-icon>
        </button>
        <img
          class="avatar mat-elevation-z8"
          src="https://avatars.githubusercontent.com/u/42906162?v=4"
        />

        <h4 class="name">Maiska</h4>
        <p class="designation">The Engineer</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-button class="menu-button" routerLink="/about">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="openSwitchPanel(true)">
          <mat-icon>help</mat-icon>
          <span>Help</span>
        </button>

        <!-- NAPPULA AVAAMAAN TOISEN SIDENAVIN - PARENT MENUN-->

        <button
        mat-button
        (click)="navSticky ? null : openSwitchPanel()"
        class="toggle-Mbtn new--item menu-button"
      >
       <!--  (click)="navSticky ? null : openDirectionPanel()" -->

      <mat-icon> directions</mat-icon>
      Ajosuunnitelma
      <mat-icon *ngIf="getNavSticky">lock</mat-icon>
      </button>

      </mat-sidenav>
      <mat-sidenav-content>
        <!-- <mat-toolbar
        role="toolbar"
        class="main-header mat-elevation-z1 sticky-header"
      >
        <mat-toolbar-row>
          <h2 class="header-text header-block">This is Dashboard</h2>
          <span class="flex-spacer"></span>
          <button mat-icon-button>
            <mat-icon class="color-white">search</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="color-white">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item>
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>

      <div>main board</div> -->
        <div class="content mat-elevation-z8">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

</mat-sidenav-content>
</mat-sidenav-container>
