<div @items class="top-buttons" *ngIf="list[0]">
  <button md-fab (click)="removeAll()" mat-icon-button class="expand-button">
    <mat-icon>remove_circle_outline</mat-icon>
  </button>
</div>

<div
  class="list-container example-list"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
>
  <ng-container *ngFor="let item of list; let i = index">
    <div class="flex-container" ngSwitch="i">
      <!--
        <div *ngSwitchCase="list[0] == list[i]"
        class="vertical">↧||||{{i}}</div>
        <div *ngSwitchCase="1"
        class="vertical">1||||{{i}}</div>
        <div *ngSwitchDefault
        class="vertical">||||{{i}}</div>
        <div *ngSwitchCase="list[i+1]==undefined"
        class="vertical">|||end</div> -->

      <ng-container
        *ngIf="list[0] == list[i]; then thenTemplate; else elseTemplate"
      ></ng-container>
      <ng-template #thenTemplate>
        <div class="vertical" @items *ngIf="list[i]">
          <span>↧</span>||||<span style="writing-mode: horizontal-tb"
            >start</span
          ><span *ngIf="list[i + 1] == undefined">⟂</span>
          <!-- <span style="writing-mode: horizontal-tb"
            ><span *ngIf="list[i + 1] !== undefined"
            >{{
              getCalculatedDistanceNext(item, i) ?? ''
            }}km</span
            ></span
          > -->
        </div>
      </ng-template>
      <ng-template #elseTemplate>
        <div class="vertical" @items *ngIf="list[i]">
          ||||||<span *ngIf="list[i + 1] == undefined">⟂</span>
          <span
            *ngIf="calculatedDistances.length == list.length - 1"
            style="writing-mode: horizontal-tb"
            >{{ getCalculatedDistancePrevious(item, i) | async }}km</span
          >
        </div>
      </ng-template>

      <mat-divider [vertical]="true"> </mat-divider>
      <app-direction
        *ngIf="item.id !== 0"
        @items
        class="box example-box"
        [item]="item"
        [hasDuplicateNeighbor]="hasDuplicateNeighbor(item)"
        (itemOutputRemove)="removeFromItem($event)"
        (itemOutputAdd)="addFromItem($event)"
        cdkDrag
        cdkDragBoundary=".list-container"
      >
      </app-direction>
    </div>
  </ng-container>
</div>
